# Nix
.direnv/

# Python shii
**/venv/
**/.venv/
**/__pycache__/

# API key
**/API.key/

# "This build system contains fractal levels of stupidity"
**/node_modules/
**/next-env.d.ts
**/.next/

# Other
**/uploads/

# Local env
.env.local
